.idea
output
cue.mod
vendor
/target/
**/target/**
**/.settings/**
.project
.classpath
.settings/
.idea
*.iml
*.ipr
*.iws
*.tree
*.class
*.log
.DS_Store
diamond_config_data.log
MANIFEST.MF
*.swp
coverage-report
application.pid
